body{
    background-color:greenyellow;
}

h1{
    background-color: cornflowerblue;
    text-align: center;
    margin: auto;
}

#banner{
    width: 100%;
}

main{
    display: flex;
} 

section{
    margin: auto;
    text-align: center;
    width: 30%;
    background-color: cadetblue;
}

#sec1{
    height: 912px;
}

aside{
    text-align: center;
    width: 28%;
    background-color: burlywood;
}

#img{
    width: 15%;
}